{% extends "extends/html5boilerplate.njk" %}

{% set title = (title + " - " + (site.title | striptags )) if title else ((site.title | striptags) + " - " + (site.description | safe)) %}
{% set description = (description | safe) if description else (site.description | safe) %}
{% set lang = lang | default(site.lang) %}

{% block headStyles %}
    {% include "partials/styles.njk" %}
{% endblock %}

{% block headMisc %}
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap" rel="stylesheet">

    <link rel="manifest" href="/site.webmanifest">
    <link rel="apple-touch-icon" href="/assets/img/icon.png">

    <meta property="og:title" content="{{ title }}" />
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />

    {% if image %}
      <meta property="og:image" content="{{ site.url }}{{ image }}" />
    {% else %}
      <meta property="og:image" content="{{ site.url }}/assets/images/default-og.jpg" />
    {% endif %}

    <meta property="og:description" content="{{ description | safe }}" />

{% endblock %}

{% block body %}
    {% include "partials/header.njk" %}

    <div class="wrapper container">
      <div class="primary-navigation--container">
        <nav class="primary-navigation">
            {%- for category in collections.categories %}
              {% set linkURL = '/category/' + category.data.slug + '/' %}
              <a class="primary-navigation--item
                {% if (page.url == linkURL) or (loop.index == 1 and page.url == '/') %}active{% endif %}"
                href="{{ linkURL }}">{{ category.data.title }}
              </a>
            {% endfor %}
        </nav>
      </div>

      <main>
        {{ super() }}

        {{ content | safe }}
      </main>
    </div>

    {% include "partials/footer.njk" %}
{% endblock %}

{% block bodyScripts %}
    {% include "partials/scripts.njk" %}
{% endblock %}