@import url('_normalize.css');

body {
  font-family: 'Work Sans', sans-serif;
}

iframe {
  max-width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

@media screen and (min-width: 1200px) {
  .container {
    padding: 0 3rem;
  }
}

@media screen and (min-width: 800px) {
  .wrapper {
    display: flex;
    flex-direction: row;
  }
}

main {
  flex: 1;
  margin-right: -1rem;
  margin-left: -1rem;
}

.site-header {
  text-align: right;
  margin-top: 5rem;
  margin-bottom: 7rem;
}

.site-header--title {
  font-size: 5.5em;
  letter-spacing: -0.04em;
  font-weight: 600;
  margin-bottom: 0;
  line-height: 1;
}

.site-header--title em {
  color: #b4d7ad;
  font-style: normal;
}

.site-header--subtitle {
  font-size: 1.5em;
  letter-spacing: -0.04em;
  color: #888888;
  white-space: pre;
}

.primary-navigation--container {
  margin-bottom: 2rem;
}

@media screen and (min-width: 800px) {
  .primary-navigation--container {
    flex: 0 1 14rem;
    margin-right: 2rem;
    border-bottom: none;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .primary-navigation--container {
    margin-right: 4rem;
  }
}

.primary-navigation {
  padding-top: 1em;
  border-bottom: 1px solid #333333;
  overflow-x: auto;
  white-space: nowrap;
}

@media screen and (min-width: 800px) {
  .primary-navigation {
    border-top: 1px solid #333333;
    border-bottom: none;
    white-space: normal;
    position: sticky;
    top: 2.5em;
  }
}

.primary-navigation--item {
  display: inline-block;
  color: #333333;
  margin: 1em 0;
  border-bottom: 0.2em solid transparent;
  transition: border 1s ease;
  margin-right: 1.5rem;
}

.primary-navigation--item.active {
  cursor: default;
  border-bottom-color: #b4d7ad !important;
}

.primary-navigation--item:hover {
  border-bottom-color: #65a05a;
}

.video-item--wrapper {
  flex: 1;
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .video-item--wrapper {
    padding-right: 14rem;
  }
}

.video-item {
  padding: 0 1rem 4rem;
  box-sizing: content-box;
}

@media screen and (min-width: 800px) {
  .video-item.portrait {
    width: 56.25%;
  }

  .video-item.square {
    width: 56.25%;
  }
}

@media screen and (min-width: 1200px) {
  .video-item.wide {
    width: calc(100% + 14rem);
  }
}

.video-item--title {
  margin-top: 1em;
}

.video-item--title span {
  display: inline-block;
  margin-left: 0.25em;
  color: #888;
}

.video-item--proportional {
  position: relative;
  padding-top: 56.25%;
  background-color: #efefef;
}

.video-item--proportional iframe {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100% !important;
  height: 100% !important;
}