<header class="site-header">
  <div class="container">
    <h1 class="site-header--title"><a href="/">{{ site.title }}</a></h1>
    <p class="site-header--subtitle">{{ site.description }}</p>
  </div>
</header>